In [1]:
import pandas as pd
import pickle

In [2]:
pd.read_csv('../data/Cakes Exercise.csv')

     Radius [cm]  Layers     Topping  Price
0             16       1     Picture    311
1             19       3      Simple    555
2              4       2  Decorative     89
3              7       1     Picture     90
4              7       2  Decorative    100
..           ...     ...         ...    ...
367           10       1     Writing    119
368           14       1      Simple    235
369            6       1     Writing     36
370            4       3     Extreme    180
371           18       3     Picture    486

[372 rows x 4 columns]

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder, StandardScaler
import pickle

# Load the data
df = pd.read_csv('../data/Cakes Exercise.csv')

# Separate features and target
X = df[['Radius [cm]', 'Layers', 'Topping']]
y = df['Price']

# Create and fit the StandardScaler for numerical features
scaler = StandardScaler()
numerical_features = ['Radius [cm]', 'Layers']
X_scaled = scaler.fit_transform(X[numerical_features])
X_scaled_df = pd.DataFrame(X_scaled, columns=numerical_features)

# Create and fit the OneHotEncoder for categorical features
oht = OneHotEncoder(sparse_output=False)
one_hot_encoded = oht.fit_transform(X[['Topping']])
one_hot_df = pd.DataFrame(one_hot_encoded, columns=oht.get_feature_names_out())

# Combine scaled numerical and one-hot encoded features
X_processed = pd.concat([X_scaled_df, one_hot_df], axis=1)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_processed, y, test_size=0.2, random_state=42)

# Create and train the model
model = LinearRegression()
model.fit(X_train, y_train)

# Save all the components
with open('../models/model.pkl', 'wb') as f:
    pickle.dump(model, f)

with open('../models/Standard_Scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

with open('../models/OneHotEncoder.pkl', 'wb') as f:
    pickle.dump(oht, f)